@model EntityLayer.Concrete.Content
@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<h2>İçerik Girişi</h2>


@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@

@*Html helper metotları*@

@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    <div class="form-group">
        <input type="hidden" name="HeadingID" value="@ViewBag.d" />
        <br />
        @Html.Label("Yeni İçerik Oluştur")
        @Html.TextAreaFor(x => x.ContentValue, 6, 30, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ContentValue)
        <br />
       

     
        <br />

        <button class="btn btn-outline-success"><b>Ekle</b></button>
    </div>
}

