
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>
        Yapılacaklar
</h2>
<p>Profilim sayfası yok</p>
<p>login işlemini Hashing helper</p>
<p>Ben robot değilim </p>
<p>Tüm başlıklarda sayfalama page</p>
<p>Mesajlarda session</p>
<p>Token kullanımı</p>
<p>Oturum yönetiminin mimariye tasınması</p>
<p>mesajlar kısmında gelen giden mesaj sayısı</p>
