@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<table class="table table-hover">
    <tr>
        <th> Category ID</th>
        <th> ADI</th>
        <th> AÇIKLAMA</th>
        <th> DURUM</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            
            <th>@category.CategoryID</th>
            <th>@category.CategoryName</th>
            <th>@category.CategoryDescription</th>
            <th>@category.CategoryStatus</th>
            
        </tr>
    }
</table>
<br />
<a href="/Category/AddCategory" class="btn btn-info"> kategori Ekle</a>
 