
@{
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>MVC Kamp Tablo Örneği</h3>
<br />
<table class="table table-hover">
    <tr>
        <th> Category ID</th>
        <th> ADI</th>
        <th> AÇIKLAMA</th>
        <th> DURUM</th>
        <th>Güncelle</th>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-success ">Güncelle</button></td>
    </tr>
    
</table>
<button class="btn-info"> Yeni Kategori </button>
