
@{
    Layout = null;
}

<h3>MVC Kamp Tablo Örneği</h3>
<br />
<table>
    <tr>
        <th> Category ID</th>
        <th> ADI</th>
        <th> AÇIKLAMA</th>
        <th> DURUM</th>
    </tr>

    
    <tr>
        <td></td>
    </tr>
</table>
